<html lang="en">

  <head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg" style=" font-size: 16px;">
        <div class="collapse navbar-collapse row" id="navbarNavDropdown">
          <div class="col-sm-5 shopping-mall">
            <h2>Assignment</h2>
          </div>
          <ul class="navbar-nav col-sm-7">
            <li class="nav-item active">
              <a style="color: rgb(86, 81, 81);" class="nav-link" href="/user/home">
                Trang chủ</a>
            </li>
            <li class="nav-item">
              <a
                style="color: black; margin-left: 20px;"
                class="nav-link"
                href="/user/product"
              > Sản phẩm</a>
            </li>
            <li class="nav-item dropdown">
              <a
                style="color: black; margin-left: 20px;"
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >

                Tài Khoản
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
                style="font-size:16px; border-radius: 15px;"
              >
                <a class="dropdown-item" href="/user">Đăng kí thành viên</a>
                <a class="dropdown-item" href="/user/list">Kiểm tra thành viên</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/main">Đăng xuất</a>
              </div>
            </li>
          </ul>

        </div>

        <div>
          <form
            class="form-inline"
            style="border-radius: 15px; border: 1px solid;"
          >
            <input
              style="font-size:16px; border-radius: 15px;"
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              style="font-size:16px; border-radius: 15px;"
              class="btn my-2 my-sm-0"
              type="submit"
            >Search</button>
          </form>
        </div>
      </nav>

      <article>

        <h3><a href="/user/list" class="btn btn-primary">XEM DANH SÁCH THÀNH VIÊN</a>
          {{viewTitle}}</h3>

        <form
          action="/user/add"
          method="POST"
          autocomplete="off"
          style="border-radius: 10px; border: 3px solid; padding: 15px;"
        >
          <input type="hidden" name="id" value="{{user._id}}" />
          <div class="form-group">
            <label for="">Username</label>
            <input
              style="border-radius: 15px;"
              type="text"
              name="username"
              value="{{user.username}}"
              class="form-control"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input
              style="border-radius: 15px;"
              type="text"
              name="password"
              value="{{user.password}}"
              class="form-control"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="">Fullname</label>
            <input
              style="border-radius: 15px;"
              type="text"
              name="fullName"
              value="{{user.fullName}}"
              class="form-control"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input
              style="border-radius: 15px;"
              type="text"
              name="email"
              value="{{user.email}}"
              class="form-control"
              placeholder=""
            />
          </div>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="">Phone</label>
              <input
                style="border-radius: 15px;"
                type="text"
                name="phone"
                value="{{user.phone}}"
                class="form-control"
                placeholder=""
              />
            </div>
            <div class="form-group col-sm-6">
              <label for="">Address</label>
              <input
                style="border-radius: 15px;"
                type="text"
                name="address"
                value="{{user.address}}"
                class="form-control"
                placeholder=""
              />
            </div>
            <div class="form-group">
              <button
                style="border-radius: 15px; background-color: black; color: white;"
                type="submit"
                class="btn-btn-info"
              >Submit</button>
              <button
                style="border-radius: 15px; background-color: black; color: white;"
                type="reset"
                class="btn-btn-info"
              >Cancel</button>
            </div>
          </div>
        </form>

      </article>

      <footer>
        <p style="font-size: 14px;">Product by lamdtpd06171 in 2023 </p>
      </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>

</html>